@import 'variables';

$header-scrolling-shadow-color: rgba(0,0,0,0.3);

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;

     header {
        position: relative;
        box-shadow: 0px 1px 10px 2px $header-scrolling-shadow-color;
        z-index: 1000;
        padding: 10px;

        .article-list-header {
            h3 {
                font-size: 125%;
                font-weight: bold;
                margin-top: 15px;
                color: white;
                display: none;
            }

            .search {
                height: 56px;
                background-color: white;
                padding-left: 5px;
                padding-right: 15px;

                i {
                    color: #B3B3B3
                }

                hr {
                   bottom: 100px;
                }
            }
        }
    }

      .content {
        overflow-y: auto;
        display: flex;
        flex: 1;

        .article-list {
            .item {
                margin-right: 0px;
                margin-left: 0px;

                .content {
                    display: block;
                }
            }
        }
    }
}

.article-consult {
    header {
        .material-icons {
            color: white;
        }
    }

    .article-card {
        height: calc(100% - 68px);
        margin-top: 48px;

        #article > h2 {
            margin-top: 0;
        }
    }
}
