.edit-page-container {
    display: flex;
    flex: 1;

    h5 {
        color: #afafaf;
    }
}

.content-flex-cartridge {
    display: flex;
}

.save-article {
    margin-right: 15px;
    margin-top: 25px;
}

.publish-label {
    font-size: 250%;
    margin-top: 30px;
    color: #8BC34A;

    p {
        font-size: 40%;
        margin-top: 10px;
        text-align: center;
        color: black;
    }
}

.publish-article {
    margin-right: 15px;
    margin-top: 25px;
}

.delete-article {
    margin-top: 28px;
}

.input-div {
    left: 15px;
    width: 180px;
    margin-left: 120px;

    label {
        font-size: 18px;
    }

    input {
        font-size: 20px;
        font-weight: bold;
        color: #616161;
    }
}

.input-div-parent {
    flex: 1 1 auto;
    margin-left: 120px;
    margin-top: 20px;

    label {
        font-size: 18px;
    }

    textarea {
        font-size: 20px;
        font-style: italic;
        color: #9E9E9E;
    }
}

.input-div-area {
    left: 15px;
    bottom: 15px;
}

.article-item-button {
    left: 15px;
    display: none;
}

.edit-header-item {
    flex: auto;
    background-color: #e0e0e0;
}

.edit-parameters-item {
    width: 0;
    flex: 0.3 1 auto;
    transition: flex-grow 150ms linear;
    padding: 15px;
    background-color: #f6f6f6;
    display: block;
}

//https://facebook.github.io/react/docs/animation.html
.edit-parameters-item-hidden {
    width: 0;
    transition: flex-grow 150ms linear;
}

.edit-parameters-button-zone {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f6f6f6;
}

.edit-parameters-label {
    color: #626262;
}

.edit-parameters-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 200%;
    padding-right: 5px;
    color: #afafaf;
}

.edit-parameters-text-hidden {
    display: none
}

.content-area {
    flex: 1 1 100px;
    display: flex;

    .content-area-textarea {
        background: white;
        width: 50%;
        border-right: 1px solid #888;
        padding: 10px;
        display: flex;
        overflow: hidden;

        textarea {
            font-family: Roboto;
            font-size: 14px;
            flex: 1;
        }

        label {
            margin: -10px 10px 0;
            width: calc(100% - 20px);
            height: calc(100% - 3px);
            font-size: 14px;
        }
    }

    .content-area-display {
        background: white;
        flex: 1 1 auto;
        width: 50%;
        border-left: 1px solid #888;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px 10px;

        blockquote {
            padding: 10px 20px;
            font-size: 18px;
            border-left: 5px solid #eee;

            p {
                margin: 0;
            }

            &:before, &:after {
               	display: none;
            }
        }

        h1 {
            font-size: 42px;
        }

        h2 {
            font-size: 34px;
        }

        h3 {
            font-size: 30px;
        }

        h5 {
            color: black;
        }
    }
}
.text-area-div {
    width: 100%;
}


.mdl-button--fab {
    bottom: 0;
    right: 0;
    margin: 25px;
    position: fixed;
    padding-left: 0;
}

.edit-button {
    float: right;
    margin-top: -7px;
}

.parameters-icon {
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-content {
    text-align: center;
}