.text-area-div {
    width: 100%;
}

 .mdl-button--fab {
        bottom: 0;
        right: 0;
        margin: 25px;
        position: fixed;
        padding-left: 0;
    }

    .edition-grid {
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: solid;
        padding-left: 15px;
        padding-right: 15px;
    }