@import 'variables';

.edit-cartridge {
    display: flex;
    margin-top: 10px;
    margin-bottom: 35px;

    > .left {
        flex: 1 1;
        max-width: 900px;
        margin-left: 36px;

        > div:not(.editing) {
            button {
                opacity: 0;
            }

            &:hover {
                background: $dark-primary-color;
                cursor: pointer;

                button {
                    opacity: 1;
                }
            }
        }

        > .title {
            font-size: 20px;
            font-weight: bold;
            color: $text-icons-color;

            label {
                font-size: 18px!important;
            }

            input[style] {
                font-size: 20px!important;
                font-weight: bold!important;
                color: #616161!important;
            }
        }

        > .description {
            flex: 1 1 auto;
            font-size: 20px;
            font-style: italic;
            color: $text-icons-color;

            label {
                font-size: 18px!important;
            }

            textarea[style]  {
                font-size: 20px!important;
                font-style: italic!important;
                color: #9E9E9E!important;
            }
        }

        > .title, > .description {
            display: flex;
            align-items: center;
            transition: background 0.2s ease-out;
            padding: 0 10px;
            margin: 0 -10px;

            > div {
                flex: 1;
                white-space: pre-line;
                overflow-y: auto;
                overflow-x: hidden;
                max-height: 115px;
            }

            &.editing {
                transition: background 0.2s ease-out;
                background: lighten($primary-color, 10%);

                input[style], textarea[style] {
                    color: white!important;
                }

                i {
                    color: #E2E2E2;
                }
            }
        }
    }

    > .publish {
        width: 300px;
        text-align: right;
        flex: 1 1;
        margin-right: 115px;

        .publish-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            float: right;
            margin-right: 40px;

            .label {
                font-size: 250%;
                color: $text-icons-color;
                text-transform: uppercase;
                flex: 1 1 auto;
                margin-left: 15px;
            }

            .time {
                flex: 1 1 auto;
                margin-right: 22px;
                color: $light-primary-color;
            }

            .material-icons {
                color: $text-icons-color;
            }

            p {
                margin-top: 10px;
                margin-right: 50px;
            }

        }
    }
}

.edit-page {
    display: flex;
    flex: 1;

    > h5 {
        color: #afafaf;
    }

    > .parameter-panel {
        width: 300px;
        margin-left: 0;
        flex: 0 0 auto;
        transition: margin-left 150ms linear;
        padding: 15px;
        background-color: #F5F5F5;
        display: block;
        z-index: 600;

        &.hidden {
            margin-left: -315px;
            padding-right: 0;
            z-index: 500;
        }

        > h5 {
            margin: 10px 0 40px 0;
            font-size: 20px;
        }

        > .label {
            color: #626262;
            margin-top: 20px;
            display: flex;
            align-items: center;
            width: calc(100% + 50px);
            padding-left: 16px;

            > div {
                flex: 1;
            }
        }

        .section-title {
            text-transform: uppercase;
        }

        .left {
        flex: 1;
        max-width: 900px;
        padding-left: 16px;

        > div:not(.editing) {
            button {
                opacity: 0;
            }

            &:hover {
                background: #DDD;
                cursor: pointer;

                button {
                    opacity: 1;
                }
            }
        }

        > .url, > .informations {
            display: flex;
            align-items: center;
            transition: background 0.2s ease-out;
            padding: 0 10px;
            margin: 0 -10px;
            font-size: 20px;
            font-weight: bold;
            color: #616161;

            label {
                font-size: 18px!important;
            }

            input[style] {
                font-size: 20px!important;
                font-weight: bold!important;
                color: #616161!important;
            }

            > div {
                flex: 1;
                white-space: pre;
            }

            &.editing {
                transition: background 0.2s ease-out;
                background: lighten($primary-color, 10%);

                input[style], textarea[style] {
                    color: white!important;
                }

                i {
                    color: #E2E2E2;
                }
            }
        }
    }
    }

    > .parameter-drawer {
        padding-top: 10px;
        background-color: #F5F5F5;
        box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.3);
        z-index: 550;

        > .text {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: 30px;
            margin-left: 7px;
            margin-top: 5px;
            color: #afafaf;

            &.hidden {
                display: none
            }
        }
    }

    > .content {
        flex: 1 1 auto;
        display: flex;
        z-index: 0;
        }

        .workspace {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            background: white;

            > .header {
            flex: 0 1 auto;
            display: flex;
            box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.3);
            z-index: 400;

            > .edit {
                flex: 1 1;
                background-color: $dark-primary-color;
                border-right: 1px solid #888;
                padding-top: 15px;
                padding-bottom: 35px;
                padding-right: 15px;

                > .save-button {
                    float: right;
                }

                > .save-text {
                    float: right;
                    color: #CCC;
                    padding: 8px;
                }

                > .error {
                    color: #F44336;
                    padding: 3px;
                }

                > .buttons > div > div {
                    .material-icons {
                        margin-top: 8px;
                    }

                    i:not(.material-icons) {
                        position: relative;
                        left: -4px;
                        font-style: normal;
                    }

                    i {
                        transition: color 0.1s ease-out;
                    }

                    &:hover {
                        i {
                            color: lighten($primary-color, 10%)
                        }
                    }
                }
            }
        }

        .textarea {
            background: white;
            border-right: 1px solid #888;
            padding: 10px;
            flex: 1 1 auto;
            display: flex;
            height: 90%;

            textarea {
                width: 100%;
                font-family: Roboto;
                font-size: 16px;
                resize: none;
                border: none;
                outline: none;
                padding-bottom: 40px;
            }
        }
    }

    .display {
        background: white;
        flex: 1 1 auto;
        width: 50%;
        border-left: 1px solid #888;
        overflow-x: hidden;
        padding: 15px 10px;

        .title {
            color: $primary-color;
        }


        blockquote {
            padding: 10px 20px;
            font-size: 18px;
            border-left: 5px solid #eee;

            p {
                margin: 0;
            }

            &:before, &:after {
                display: none;
            }
        }

        h1 {
            font-size: 42px;
        }

        h2 {
            font-size: 34px;
        }

        h3 {
            font-size: 30px;
        }

        h5 {
            color: black;
        }
    }
}

.new-section {
    text-transform: capitalize;
}

@media print {
    header {
        display: none !important;
    }

    .edit-page {
        .parameter-panel, .parameter-drawer {
            display: none !important;
        }

        .content {
            .header {
                display: none !important;
            }

            .workspace {
                .textarea {
                    display: none !important;
                }
            }
        }
    }
}