.article-list {
    padding: 10px;

    h3 {
        font-size: 20pt;
        text-align: center;
    }

    .mdl-spinner {
        margin-left: calc(50% - 25px);
        width: 50px;
        height: 50px;
    }

    .article-list-error {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: indianred;

        .material-icons {
            font-size: 32px;
            margin-right: 5px;
        }
    }

    .article-list-item {
        text-decoration: none;
        background: white;
        padding: 15px;
        margin: 10px;
        display: flex;
        align-content: center;

        > .material-icons {
            font-size: 36pt;
            color: #A6A6A6;
            margin-right: 12px;
            flex: 0 0 auto;
        }

        .article-list-item-content {
            flex: 1 1 100%;

            .article-list-item-content-title {
                color: black;
                font-size: 14pt;
                line-height: 28px;
            }

            .article-list-item-content-description {
                color: #A6A6A6;
                font-size: 11pt;
                line-height: 20px;
            }
        }

        .article-list-item-button {
            display: none;
            flex: 0 0 auto;
            margin-top: 6px;

            .material-icons {
                margin: 0 5px 0 -5px;
            }
        }

        &:hover {
            background: #D8D8D8;

            .article-list-item-button {
                display: block;
            }
        }
    }
}