.article-list-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 24pt;
        text-align: center;
        color: white;
        margin: 20px 0 0 0;
        font-weight: 100;
        text-transform: uppercase;
    }

    .search {
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 0px 10px;
        transition: background 0.2s ease-in-out;
        border-radius: 4px;
        background: #1976D2;

        &:hover {
            background: #2196F3;
            transition: background 0.2s ease-in-out;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        }

        i {
            margin-right: 10px;
        }

        .search-bar {
            margin-top: -5px;
            position: relative;
        }
    }
}

.search.focused {
    background: #2196F3;
    transition: background 0.2s ease-in-out;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.article-list {
    flex: 1;

    .add-button {
        bottom: 0;
        right: 0;
        margin: 25px;
        position: fixed;
        padding-left: 0;
    }

    .item {
        cursor: pointer;
        background: #727272;
        padding: 15px;
        display: flex;
        transition: background 0.1s ease-out;

        > .material-icons {
            color: white;
            margin-right: 12px;
            flex: 0 0 auto;
        }

        .content {
            flex: 1 1 100%;
            text-decoration: none;

            .title {
                color: white;
                font-size: 14pt;
                font-weight: bold;
                line-height: 28px;
                display: flex;

                span {
                    font-size: 15pt;
                    margin-left: 8px;
                    align-self: center;
                    color: white;
                }
            }

            .description {
                color: white;
                font-size: 9pt;
                line-height: 20px;
            }
        }

        .button {
            display: none;
            flex: 0 0 auto;
            margin-top: 6px;
            align-self: center;
            padding-left: 15px;

            button {
                border-radius: 4px;
            }
        }

        &:hover {

            .button {
                display: block;
            }
        }

        .view {
            font-size: 25pt;
            align-self: center;
        }
    }
}