.password-bar {
    .ok {
        display: flex;
        align-items: center;

        strong {
            display: inline-block;
            margin-right: 5px;
        }

        button {
            border-radius: 4px;
        }

        .ok-text {
            display: inline-block;
            position: relative;
            bottom: 3px;
            right: 5px;
        }
    }
}