.password-bar {
    .mdl-textfield {
        padding: 6px 0;
        width: 150px;

        .mdl-textfield__label:after {
            bottom: 6px;
        }

        input {
            font-size: 20px;
        }
    }

    .mdl-spinner {
        position: fixed;
        width: 20px;
        height: 20px;
        top: 17px;
    }

    .password-bar-ok {
        display: flex;
        align-items: center;

        strong {
            display: inline-block;
            margin-right: 5px;
        }

        .password-bar-ok-text {
            display: inline-block;
            position: relative;
            bottom: 3px;
            right: 5px;
        }
    }
}