.section-list {
    width: 100%;

    .section-list-title {
        background: #fff;
        color: #444;
        border: 1px solid #ddd;
        border-style: none none solid none;
        padding: 16px 16px 16px 72px;
        text-align: left;
        outline: none;
        font-size: 25px;
    }

    button.accordion {
        background: #fff;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 17px;
        padding: 20px;
        border: 1px solid #ddd;
        border-style: none none solid none;
        transition: font-size 0.2s ease-in;
    }

    button.accordion.active {
        background: #727272;
        color: white;
        border: 1px solid #727272;
        font-weight: bold;
        font-size: 20px;
        transition: font-size 0.1s ease-in;
    }

    button.accordion:hover {
        background: #ddd;
    }

    button.accordion.active:hover {
        background: #727272;
    }

    button.accordion:before {
        content: '\02795';
        font-size: 13px;
        color: #4285f4;
        float: left;
        margin-left: 5px;
        margin-right: 34px;
    }

    button.accordion.active:before {
        content: "\2796";
        color: white;
    }

    div.panel {
        background: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        border: 1px solid #ddd;
        border-style: none none solid none;
    }

    div.panel.show {
        max-height: 250%;
        transition: max-height 0.4s ease-in;
        border: 1px solid #727272;
    }
}
