.section-list {
    width: 100%;

    .section-list-title {
        background: #fff;
        color: #444;
        border: 1px solid #ddd;
        border-style: none none solid none;
        padding: 16px 16px 16px 72px;
        text-align: left;
        outline: none;
        font-size: 25px;
    }

    button.accordion {
        background: #fff;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 16px;
        transition: 0.4s;
        padding: 20px;
        border: 1px solid #ddd;
        border-style: none none solid none;
    }

    button.accordion.active, button.accordion:hover {
        background: #ddd;
    }

    button.accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #4285f4;
        float: right;
        margin-left: 5px;
    }

    button.accordion.active:after {
        content: "\2796";
    }

    div.panel {
        padding: 0 18px;
        background: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.6s ease-in-out;
        opacity: 0;
        border: 1px solid #ddd;
        border-style: none none solid none;
    }

    div.panel.show {
        opacity: 1;
        max-height: 500px;
    }
}
