.card {
  margin-top: -25vh;
  margin-left: 170px;
  display: flex;
  flex: 1 3 auto;

  .paper {
    width: 54%;
    min-height: 75%;
  }
}

@media print {
    .ribbon {
      display: none !important;
    }

    .card {
      width: 100%;
      margin: 0;

      .paper {
        width: 100%;
        height: 100%;

        .article-consult {
          .article-card {
            .top-header {
              display: none !important;
            }
          }
        }
      }
    }
}
