.ribbon {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding-top: 15px;
  background-color: #009688;

  .top {
    display: flex;
    z-index: 1001;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    .middle, .right {
      overflow: hidden;
      white-space: nowrap;
      color: white;
    }

    .left {
      order: 1;
      color: white;
      flex-grow: 0;
      margin-left: 15px;
    }

    .middle {
      order: 2;
      flex-grow: 4;
    }

    .right {
      z-index: 999;
      order: 3;
      flex-grow: 0;
      float: right;
      display: flex;
      align-items: center;
      margin-right: 15px;

      .password-bar {
        float: right;
      }

      .button-link {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}

.main {
  margin-top: -27vh;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.add-button {
  bottom: 0;
  right: 0;
  margin: 25px;
  position: fixed;
  padding-left: 0;
  display: none;
}