@import 'variables';

.ribbon {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding-top: 15px;
  background-color: $primary-color;

  .top {
    display: flex;
    z-index: 1001;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    .middle, .right {
      overflow: hidden;
      white-space: nowrap;
      color: $text-icons-color;
    }

    .left {
      order: 1;
      color: $text-icons-color;
      flex-grow: 0;
      margin-left: 15px;
      margin-top: 5px;

      .left-top {
        display: flex;
        align-items: center;
      }
    }

    .app-name {
      position: relative;
      left: 110px;
      top: 20px;
    }

    .middle {
      order: 2;
      flex-grow: 4;
    }

    .right {
      z-index: 999;
      order: 3;
      flex-grow: 0;
      float: right;
      display: flex;
      align-items: flex-start;
      margin-right: 15px;

      .right-container {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .password-bar {
          float: right;
        }

        .button-link {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}

.main {
  margin-top: -27vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
}

.add-button {
  bottom: 0;
  right: 0;
  margin: 25px;
  position: fixed;
  padding-left: 0;
  display: none;
  color: $accent-color;
}